<!-- budget-planner-home.component.html -->
<body>
<div class="home-container">
    <header class="top-banner">
      <h3>Welcome to the Budget Planner</h3>
      <p class="topic">Manage your finances easily and efficiently with our budget planning tool.</p>
    </header>
  
    <div class="content">
        <br>
        <br><br><br>
      <div class="features">
        <div class="feature-item">
          <h3>Track Your Expenses</h3>
          <p>Keep an eye on your spending with our intuitive tracking features.</p>
        </div>
        <div class="feature-item">
          <h3>Set Budget Goals</h3>
          <p>Set and manage your budget goals to stay on top of your finances.</p>
        </div>
        <div class="feature-item">
          <h3>Analyze Reports</h3>
          <p>Get detailed reports on your spending habits and budget progress.</p>
        </div>
      </div>
      
  
      <button routerLink="/start" class="start-button">Get Started</button>
    </div>
  </div>
</body>